<!DOCTYPE html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        var blogId;
        $("#getSingleBlog").click(function () {
          blogId = $("#blogId").val();
          $.get(
            "http://localhost:4000/blogs/single-blog/" + blogId,
            function (blog) {
                $("#blogTitle").html(blog.title)
                $("#blogAuthor").html(blog.author)
                $("#blogText").html(blog.text)
            }
          );
        });
        $("#deleteSingleBlog").click(function () {
            blogId = $("#blogId").val();
            $.ajax({
                url: `http://localhost:4000/blogs/delete-blog/${blogId}`,
                type: 'DELETE'});
        })  
      });
    </script>
  </head>
  <body>
    <h1>Single Blog</h1>
    <span>
      <label>Blog ID</label>
      <input id="blogId" type="text" />
    </span>
    <button id="getSingleBlog">Get Single Blog</button>
    <button id="deleteSingleBlog">Delete Single Blog</button>
    <div>
        <p id="blogTitle"></p>
        <p id="blogAuthor"></p>
        <p id="blogText"></p>
    </div>
  </body>
</html>