<!DOCTYPE html>
<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var blogId;
            $("#getSingleBlog").click(function () {
                blogId = $("#blogId").val();
                $.get(
                    "http://localhost:4000/blogs/single-blog/" + blogId,
                    function (blog) {
                        $("#blogTitle").val(blog[0].title)
                        $("#blogAuthor").val(blog[0].author)
                        $("#blogText").val(blog[0].text)
                    }
                );
                $('.modify').show();
            });
            $("#deleteSingleBlog").click(function () {
                blogId = $("#blogId").val();
                $.ajax({
                    url: `http://localhost:4000/blogs/delete-blog/${blogId}`,
                    type: 'DELETE'
                });
            });
            $("#modifyButton").click(function () {
                blogId = $("#blogId").val();
                let title = $('#blogTitle').val();
                let author = $('#blogAuthor').val();
                let text = $('#blogText').val();
                console.log(title, author, text)
                $.ajax({
                    url: `http://localhost:4000/blogs/modify-blog/${blogId}`,
                    type: 'PUT',
                    data: {title, author, text}
                });
            });
        });
    </script>
</head>

<body>
    <h1>Single Blog</h1>
    <span>
        <label>Blog ID</label>
        <input id="blogId" type="text" />
    </span>
    <button id="getSingleBlog">Get Single Blog</button>
    <button id="deleteSingleBlog">Delete Single Blog</button>

    <div class="modify" style="display: none">
        <div contenteditable="true">
            Title <textarea id="blogTitle"></textarea><br>
            Author <textarea id="blogAuthor"></textarea><br>
            Text <textarea id="blogText" style="width: 500px; height: 200px"></textarea>
        </div>
        <p style="color: red">Edit text above to make changes</p>
        <button id="modifyButton">Submit modifications</button>
    </div>

</body>

</html>