<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Favorite Movies</h1>
    <p><%= movies[0] %></p>
    <p><%= movies[1] %></p>
    <p><%= movies[2] %></p>
  </body>
</html>
